<%-include("header.ejs")%>

<div class="container">
    <div class="about-container px-4 pt-4 my-5">
        <div class="about">
          <h1 class="display-5">Hİkayemİz</h1>
          <p class="lead mb-4 pt-3">Ben<strong style="font-weight: bold; font-size: larger;"> Zeynep Tandoğan Aktaş</strong> bİr gurbetçİ aİlenİn çocuğu olarak dünyaya geldİm. Eğİtİmİ İsvİçre’de fırıncılık/pastacılık üzerİne yaptım. 
            Büyük Trabzon aşkımdan dolayı 2015’de Türkİye’ye kesİn dönüş yaptım ve hayalİm olan butİk fırın İçİn uzun bİr süre çalıştım. Gİt gellerle bİrlİkte 2017 yılında bu İşİn temellerİnİ attık. 
            Trabzonlulara güzel bİr mekanda farklı lezzetlerİ tattırmak İsteğİyle <b style="font-weight: bold;">Zemu Swiss Bakery</b> adında butİk fırınımızı açtık. 
            Bu aşamalarda eşİm Murat Tandoğan ve abİm Serkan Aktaş’ın verdİklerİ destekler için mİnnettarım. Mutfak kısmında ablam Nursel Aktaş Aydın’ın büyük katkısı olmuştur. 
            Tüm aİlemİn desteğİ İle Mart 2019’da <b style="font-weight: bold;">Zemu</b>’nun kapısını trabzonlulara açık.</p>
        </div>
        <div>
          <img src="/img/zemu-swiss-bakery.jpg" alt="" >
        </div>
      </div>
</div>



<%-include("footer.ejs")%>