<%-include("header.ejs")%>

<div class="container">
    <div class="contact-container px-4 pt-4 my-5">
        <div class="contact">
            <ul class="nav flex-column">
                <li class="nav-item"><label style="font-weight: bold;">Telefon:</label><p class=" text-body-secondary">462 231 03 05</p></li>
                <li class="nav-item"><label style="font-weight: bold;">Adres:</label><br><a href="https://www.google.com/maps/place/Zemu+Swiss+Bakery/@40.9913741,39.701505,17z/data=!3m1!4b1!4m6!3m5!1s0x40643d8d6c498185:0xd9d8c795731e904a!8m2!3d40.9913701!4d39.7040799!16s%2Fg%2F11fkbbzg5z?entry=ttu" class="link text-body-secondary">Manolya Cd., 3 Nolu Erdoğdu,<br> 61040 Ortahisar/Trabzon</a></li>
                <li class="nav-item pt-3"><label style="font-weight: bold;">Çalışma Saatlerİ:</label><p class=" text-body-secondary">10.00 - 22.00<br>Pazar Kapalı</p></li>
                <li class="ms-3">
                    <a class="instagram "
                        href="https://www.instagram.com/zemuswissbakery?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                        <i class="fa-brands fa-instagram mt-3 "></i><span style="font-size: 15px;"> Zemu Swiss Bakery</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.5483323312023!2d39.704079899999996!3d40.9913701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40643d8d6c498185%3A0xd9d8c795731e904a!2sZemu%20Swiss%20Bakery!5e0!3m2!1sde!2str!4v1712140637167!5m2!1sde!2str" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
      </div>
</div>



<%-include("footer.ejs")%>