 
    <div class="footer-container pt-4">
      <footer class="py-2">
        <div class="row">
          <div class="col-12">
            <ul class="nav flex-column">
              <li class="nav-item"><label style="font-weight: bold;">Telefon:</label><p class=" text-body-secondary">462 231 03 05</p></li>
              <li class="nav-item"><label style="font-weight: bold;">Adres:</label><br><a href="https://www.google.com/maps/place/Zemu+Swiss+Bakery/@40.9913741,39.701505,17z/data=!3m1!4b1!4m6!3m5!1s0x40643d8d6c498185:0xd9d8c795731e904a!8m2!3d40.9913701!4d39.7040799!16s%2Fg%2F11fkbbzg5z?entry=ttu" class="link text-body-secondary">Manolya Cd., 3 Nolu Erdoğdu,<br> 61040 Ortahisar/Trabzon</a></li>
            </ul>
            <ul class="list-unstyled d-flex" style="color: #575757;">
                <li class="ms-3">
                    <a class="instagram"
                        href="https://www.instagram.com/zemuswissbakery?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                        <i class="fa-brands fa-instagram mt-3"></i><span style="font-size: 15px;">  Zemu Swiss Bakery</span>
                    </a>
                </li>
             </ul>
          </div>
          <hr width="100%;" color="#575757" size="1">
        </div>
        <p class="align-items-center text-center" style="font-weight: 400;">©Zemu Swiss Bakery</p>
      </footer>
    </div>
