<%-include("header.ejs")%>

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


    <div class="container my-3 carousel" data-flickity='{ "cellAlign": "left", "wrapAround": true, "freeScroll": true, "prevNextButtons": false, "pageDots": false }'>
        
            <button class="carousel-cell ">Kahvalti</button>
            <button class="carousel-cell ">Tuzlu</button>
            <button class="carousel-cell">Kruvasan</button>
            <button class="carousel-cell">Kek</button>
            <button class="carousel-cell">Pasta</button>
            <button class="carousel-cell">Cheescake</button>
            <button class="carousel-cell">Donut</button>
            <button class="carousel-cell">Berliner</button>
            <button class="carousel-cell">Kurabiye</button>
            <button class="carousel-cell">Icecek</button>
    </div>

<div class="container">
    
    <h3 class="pt-3" style="color: #d5aaaa;">Kahvalti</h3>
    
    <div class="card card-outline-secondary my-3 p-3">
        <div class="card-content d-flex align-items-center ">
            <div class="col-6 py-3">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                <p class="text-muted">120 ₺</p>
            </div>
            <div class="col-6">
                <img src="/img/zemulogo.png" alt="..." width="200px" height="150px">
            </div>
        </div>
    </div>
</div>

    

    
    


    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<%-include("footer.ejs")%>