<body onload="show();">
    <div id="imageShow" class="imageShow">
    <img class="myImg" src="/img/zemu-swiss-bakery.jpg" alt="img">
    </div>
    <div id="content" style="display: none;">
        
        <%-include("index.ejs")%>
        
    </div> 
    <script>
        function show() {
    document.getElementById("imageShow").style.display="block";
    setTimeout("hide()", 3500); // 5 wait, change the delay here
}
    
function hide() {
    document.getElementById("imageShow").style.display="none";
    document.getElementById("content").style.display="block";
}

    </script>
</body>

    
    


